In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [3]:
file = "Resources/City_Data.csv"
city_data = pd.read_csv(file)
city_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Vigan,17.57,120.39,301.15,78,75,2.10,PH,1601434451
1,Vailhac,45.10,3.58,277.02,95,0,1.06,FR,1601434452
2,Grän,47.50,10.55,281.48,88,69,0.96,AT,1601434452
3,Toride,35.90,140.08,300.93,62,0,0.89,JP,1601434453
4,Little Dewchurch,51.98,-2.68,282.59,95,70,3.34,GB,1601434453

In [6]:
city_data.loc[(city_data["Humidity"] < 100), :]

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Vigan,17.57,120.39,301.15,78,75,2.10,PH,1601434451
1,Vailhac,45.10,3.58,277.02,95,0,1.06,FR,1601434452
2,Grän,47.50,10.55,281.48,88,69,0.96,AT,1601434452
3,Toride,35.90,140.08,300.93,62,0,0.89,JP,1601434453
4,Little Dewchurch,51.98,-2.68,282.59,95,70,3.34,GB,1601434453
...,...,...,...,...,...,...,...,...,...
637,Castelló de Rugat,38.88,-0.39,289.26,90,74,2.24,ES,1601434625
638,Mount Irvine,-33.50,150.47,293.71,63,100,5.10,AU,1601434626
639,Llanberis,53.12,-4.13,286.15,87,100,10.30,GB,1601434626
640,Lipljan,42.52,21.13,282.04,87,75,1.00,XK,1601434626
641,Kliment,43.62,27.00,287.04,77,33,2.68,BG,1601434626

In [ ]:
#look for potential outliers in humidity by calculating iqr and upper/lower bounds
humid_quartiles = 
humid_lowerq = 
humid_upperq = 
humid_iqr = 
humid_lowerb = 
humid_upperb =